# Action Name
name: Automated Releases

# Controls when the action will run
on:
  push:
    tags:
      - "v*"

# Workflow Jobs
jobs:
  # Build Job
  build:
    runs-on: ubuntu-latest
    steps:
      # Step 1 - Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v2
      
      # Step 2 - Extract Environment Variables
      - name: Extract Environment Variables
        uses: FranzDiebold/github-env-vars-action@v2.3.0
      
      # Step 3 - Generate the Changelog
      - name: Generate the Changelog
        id: changelog
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: metcalfc/changelog-generator@v1.0.0
        with:
          myToken: ${{ secrets.GITHUB_TOKEN }}

      # Step 4 - Create GitHub Release
      - name: Create GitHub Release
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.CI_REF_NAME }}
          name: Release ${{ env.CI_REF_NAME }}
          body: |
            ${{ steps.changelog.outputs.changelog }}
