# Action Name
name: Automated Releases

# Controls when the action will run
on:
  push:
    tags:
      - 'v*.*.*'

# Workflow Jobs
jobs:
  # Build Job
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v6
      
      # Generate the Changelog
      - name: Generate the Changelog
        id: changelog
        if: ${{ github.ref_type == 'tag' }}
        uses: metcalfc/changelog-generator@v4
        with:
          mytoken: ${{ secrets.GITHUB_TOKEN }}
      
      # Step 4 - Create GitHub Release
      - name: Create GitHub Release
        if: ${{ github.ref_type == 'tag' }}
        uses: ncipollo/release-action@v1
        with:
          name: Release ${{ github.ref_name }}
          body: ${{ steps.changelog.outputs.changelog }}
          tag: ${{ github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
      
      # Step 5 - Extract Major Version Number
      - name: Extract Major Version Number
        id: extractMajorVersion
        if: ${{ github.ref_type == 'tag' }}
        run: |
          tagName=$(echo ${{ github.ref_name }} | cut -d . -f 1)
          echo "tagName=$tagName" >> $GITHUB_OUTPUT
      
      # Step 6 - Configure Git Metadata
      - name: Configure Git Metadata
        if: ${{ github.ref_type == 'tag' }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      
      # Step 7 - Tag New Major Version
      - name: Tag New Major Version
        if: ${{ github.ref_type == 'tag' }}
        run: git tag -f ${{ steps.extractMajorVersion.outputs.tagName }} ${{ github.ref_name }}
      
      # Step 8 - Push New Major Version Tag
      - name: Push New Major Version Tag
        if: ${{ github.ref_type == 'tag' }}
        run: git push origin ${{ steps.extractMajorVersion.outputs.tagName }} --force
