# Action Name
name: Automated Releases

# Controls when the action will run
on:
  push:
    tags:
      - 'v*.*.*'

# Workflow Jobs
jobs:
  # Build Job
  build:
    runs-on: ubuntu-latest
    steps:
      # Step 1 - Checkout Code
      - name: Checkout Code
        uses: actions/checkout@v4
      
      # Step 2 - Extract Environment Variables
      - name: Extract Environment Variables
        uses: FranzDiebold/github-env-vars-action@v2
      
      # Step 3 - Generate the Changelog
      - name: Generate the Changelog
        id: changelog
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: metcalfc/changelog-generator@v4.2.0
        with:
          mytoken: ${{ secrets.GITHUB_TOKEN }}
      
      # Step 4 - Create GitHub Release
      - name: Create GitHub Release
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: ncipollo/release-action@v1
        with:
          name: Release ${{ env.CI_REF_NAME }}
          body: ${{ steps.changelog.outputs.changelog }}
          tag: ${{ env.CI_REF_NAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
      
      # Step 5 - Extract Major Version Number
      - name: Extract Major Version Number
        id: extractMajorVersion
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          tagName=$(echo ${{ env.CI_REF_NAME }} | cut -d . -f 1)
          echo "tagName=$tagName" >> $GITHUB_OUTPUT
      
      # Step 6 - Configure Git Metadata
      - name: Configure Git Metadata
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      
      # Step 7 - Tag New Major Version
      - name: Tag New Major Version
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: git tag -f ${{ steps.extractMajorVersion.outputs.tagName }} ${{ env.CI_REF_NAME }}
      
      # Step 8 - Push New Major Version Tag
      - name: Push New Major Version Tag
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: git push origin ${{ steps.extractMajorVersion.outputs.tagName }} --force
